/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1c7de3;
  --ifm-color-primary-dark: #1970cc;
  --ifm-color-primary-darker: #186ac1;
  --ifm-color-primary-darkest: #14579f;
  --ifm-color-primary-light: #338ae6;
  --ifm-color-primary-lighter: #3e90e7;
  --ifm-color-primary-lightest: #60a4eb;
  --ifm-color-section-alt: #f5f6f7;
}

.home-section {
  padding: 3.5rem 0;
}

.home-section-alt {
  background-color: var(--ifm-color-section-alt);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] {
  --ifm-color-primary: #4e89e8;
  --ifm-color-primary-dark: #5a91ea;
  --ifm-color-section-alt: #1c1e21;
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
